<ion-view>
    <ion-content>
        <div class="card">
            <div class="item">
                <p>Titulo do item</p>
                <img src="http://www.angsolucoes.com.br/publico/noimage.png" width="100%">
                <p>Descrição:</p>
                <div class="item item-text-wrap">
                    <p>Aqui, alguma descrição!</p>
                </div>
                <p>Preço: XXX,XX</p>
            </div>
            <div class="item">
                <div class="bar bar-footer">
                    <button class="button icon-right ion-checkmark button-pisitive button-full">Pedir</button>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>